{% extends "base.html" %}

{% block title %}
    <title>About Me</title>
{% endblock %}

{% block content %}
    <h1>This is me</h1>
    <p style="color:darkblue">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab iste maiores provident voluptate, eum placeat amet neque nam repudiandae doloremque cum consequuntur. Pariatur tempora quos deserunt rem ipsum ex eveniet magnam optio, dolore repudiandae sint non. Distinctio nihil, libero quod unde nesciunt et commodi magni enim. Adipisci atque ducimus cum in, illum sunt quaerat facere quasi asperiores nesciunt at sit eum! Inventore distinctio perspiciatis asperiores quia sit ipsam ipsa neque, assumenda suscipit possimus, quo sapiente corporis dolores consequatur ab laudantium? Veniam tempore eum rerum perspiciatis, omnis nemo ipsa, tempora officia earum aut hic voluptate mollitia soluta quod neque dicta cumque!</p>
{% endblock %}